body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  /* navbar css */
  .topnav {
    overflow: hidden;
   
    
  }
  
  .topnav a {
  
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
    
  }
  .topnav .icon {
    display: none;
    padding: 40px;
  }
/* end of navbar css */

.background{
    background: url(../images/Place\ Your\ Design\ Here\ \(Double\ Click\ to\ Edit\)32.png);
    background-size:100% 100%;
    padding:0 0 50px 0;
    position: relative;
}

.text-white{
    color: #fff;
}

.text-center{
    text-align: center;
}


.brunch{
    background-color:rgba(255, 255, 255, 0.9);
    margin:20px 0;

}

.brunch h1{
    color: #ad6c12;

}

.brunch h2{
    color:#2c3a42 ;
    padding-top:50px;
}


.brunch a{
    display: inline-block;
    background-color: #fff;
    color: black;
    text-decoration: none;
    padding:10px 20px;
    margin-bottom:50px;
}


.traditional{
    background-color: #2a3b40;
    text-align: center;
   
}

.traditional h3{
    padding: 20px 0;
    margin:0;
   
   
}
.traditional p{
    width:90%;
    text-align: justify;
    line-height: 20px;
    margin:0 auto 20px;
}




.traditional div img{
    display: block;
    width: 85%;
    padding: 10px 0 30px;
    margin: 0 auto ;
    
}

.feature {
    background-color: #d4d8d9;
    text-align: center;
    padding-bottom:20px;
}

.feature p{
    text-align: justify;
    width:90%;
    line-height:20px;
    margin: 20px auto;
    color: #4c5a5f;
}

.feature h4{
    margin: 0;
    color: #2a3b40;
    
}
.feature i{
    padding:20px 0 10px;
    color: #2a3b40;
}

.block{
    display: block;
}

.ind-plate{
    background:url(../images/Bg2.png);
    background-size:cover;
    display: flex;

}

.ind-plate .items{
    background-color:rgba(255, 255, 255, 0.9);
    width:90%;
    margin:20px auto;
}
.ind-plate .items p{
    padding: 5px;
}

.ind-plate h2{
    color: #304751;
    margin: 0;
    padding:20px 0 10px;
}

.ind-plate .block{
    color: #ad6c12;
}

.cusine{
    background-color: #d4d8d9;
    text-align: center;
    
}

.cusine h2{
    color: #2a3640;
    margin: 0;
    padding:30px 0 20px;
    
}
.cusine p{
color: #35454a;
}

.pad{
    padding:0 10px;
}
.cusine i {
    padding: 10px 5px 10px;
}

.cusine .mar{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding:20px;
    margin: 0;
    

}

.cusine .mar li{
    margin:0 20px 0 0;
    font-weight: bold;
}

.discover{
    background:url(../images/bg3.png);
    display: flex;
    
}

.discover .white-box{
    background-color:rgba(255, 255, 255, 0.9);
    width: 90%;
    margin: 20px auto;

}

.discover .white-box h5{
    text-align: center;
    margin:5px 0;
}

.discover .white-box p{
    text-align: center;
    padding: 2px;
    
}


    
.discover .white-box div .img{
    display: inline-block;
    background-color: #fff;
    border-radius:100%;
    text-align: center;
    margin: 10px 0;
    
}

.dish-row1,.dish-row2,.dish-row3{
    text-align: center;
    color: #304751;
}



.discover .white-box div .img img{
    padding: 12px;
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

.discover .white-box div p{
    width:90%;
    line-height:20px;
    margin:0 auto;
    padding-bottom:20px;
}

.book-above-img{
    height:50vh;
    background:url(../images/bg4.png);
    background-size: 100% 100%;
}


.book{
    text-align: center;
    background-color: #2a3b40;
    color: #fff;
    padding-bottom:40px;
}

.book input{
    width:50%;
    padding:10px 0;
    border:1px solid white;
    background-color: #2a3b40;
}

.book h2{
    margin: 0;
    padding:20px 0;
}

.book input::placeholder{
    color: #fff;
    padding:0 0 0 10px;
}

.book select{
    width: 50%;
    padding: 10px 0;
    background-color: #2a3b40;
    color: #fff;
}

.book input[type=date]{
    color: #fff;
    padding: 10px 0 10px 10px;
}
.book input[type=time]{
    color: #fff;
}
.book label{
    display: inline-block;
    margin: 20px 0;
    
}

.book-below-img{
    height:50vh;
    background:url(../images/bg5.png);
    background-size: 100% 100%;
}

.Menu{
    text-align: center;
    background-color:#d4d8d9;
    padding-bottom:20px;

}

.Menu h2{
    margin: 0;
    color: #2a3640;
    padding-top: 20px;
}

.Menu .block{
    color: #ad6c12 ;
}

.Menu .three-column .column img{
    margin:0 0 20px;
    width:100%;
}

.Menu .three-column .column{
    width:90%;
    margin: 30px auto;
    background-color: #fff;
    padding-bottom: 20px;
}

.Menu .three-column .column a{
    text-decoration: none;
    color: #2a3640;
    border-bottom: 5px solid #ff992b;
}

.testimonials{
    text-align: center;
    background-color: #2a3b40;
    padding-bottom:20px;
    
}

.testimonials p{
    color: #fff;
    text-align: justify;
    width:90%;
    line-height:20px;
    margin: 0 auto;
    padding: 20px 0;
}

.testimonials h4{
    color: #fff;
    padding:0 0 10px;
}

.testimonials ul{
    list-style-type: none;
    list-style-position: inside;
    display: flex;
    justify-content: center;
    padding: 0;
}

.testimonials ul li{
    margin:0 20px 0 0;
    border-radius:100%;
    background-color: #fff;
    padding:7px;
}

.testimonials ul i{
    font-size:20px;
    color: #2a3b40;
}

.about-footer{
    background-color: #d4d8d9;
    text-align: center;
    padding-bottom: 10px;
}

.about h3{
    margin: 0;
    padding:20px 0;
}

.about p{
    text-align:justify;
    width:85%;
    margin: 0 auto;
    list-style:20px;
}
  
.about-footer ul{
    list-style-type: none;
    padding: 0;
}

.about1 ul li{
    margin: 10px 0;
}

.about1 a{
    text-decoration: none;
    color: #2a3640;
}


  @media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  @media screen and (min-width:1024px){
    .push{
        margin-left:600px;
      }
  }